

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


:root{
  --bkg-color: #0b2128;
  
  --bkg-hsl: 207, 35%, 10%;
  --bkg-card-hsl:  238, 48%, 18%;

  --shadow-color: 207deg 35% 15%;
  --input-hsl: 205deg 44% 49%;

  --night-time: #131924;
  --day-sunny: #4fadfb;
  --day-rain: #114971;

  --gold-color: #ffd059;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color:#343e4b;
  color: #fff;
  display: flex;
  align-items:center;
  justify-content: center;
}

.wrapper{
  height: 150vh;
  width: 500px;


}

.container {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  box-shadow:  2px 4px 4px hsl(var(--shadow-color) / 0.833);
  border-radius: 16px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border:1px solid rgba(255,255,255,0.2);
  background:rgba(255,255,255,0.1);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 12px 48%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 16px;
}

input:focus-within{
  outline: hsl(var(--input-hsl) / 0.333);
}

input::placeholder {
  color: #fff;
}

button {
  padding: 0.7rem;
  width: 300px;
  background-color: var(--gold-color);
  color: #fff;
  margin-top: 30px;
  margin-bottom: 1rem;
  border: 0;
  transition: background-color 200ms ease;
}

button:hover {
  opacity: 0.9;
  cursor:pointer;
}

button:focus-visible, button:focus-visible::-moz-focus-inner{
  border-color: white;
}


.card{
  height: auto;
  width: 100%;
  background-color:  #222834;
  margin: 0 auto;
  border-radius: 16px;
  margin-bottom: 20px;
  color: #fff;
  /* display: none; */
}

